<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mian.com.ssm6.chp5.CustomerMapper">
    <select id="fingCustomerById" parameterType="Integer"
            resultType="mian.com.ssm6.chp5.Customer">
select * from t_customer where id = #{id}
</select>
</mapper>
